* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
}

.container {
  background-color: #424242;
  padding: 40px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #fff;
}

.container ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container ul li + li {
  margin-top: 10px;
  border-top: 1px solid #fff;
  padding-top: 10px;
}

.button {
  background: #ef5350;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  border-radius: 7px;
  margin-left: 10px;
}

.container form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container form input {
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
  margin-top: 10px;
}

button[type="submit"] {
  background: #7159c1;
  border-radius: 7px;
  margin-top: 10px;
  padding: 10px 15px;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
  outline: none;
}
